
<section id="about">

  <div class="container">

    <header class="text-center">
      <h1><%= data.about.title %></h1>
    </header>
    <div class="divider"></div>
    
    <article class="text-center big-paragraph">
      <p><%= data.about.text %></p>
    </article>
    
    <div class="me-picture text-center animate_fade_in">
      
      <% for team_id in data.about.team.keys %>
      <%
	 name = data.about.team[team_id].name
	 profile = data.about.team[team_id].profile
	 image = data.about.team[team_id].image
	 facebook = data.about.team[team_id].facebook
	 twitter = data.about.team[team_id].twitter
	 gplus = data.about.team[team_id].gplus
      %>

      <div class="item">
	
	<span class="socials animated bounceIn">
	  <a target="_blank" href="<%= facebook %>" class="social fa fa-facebook"></a>
	  <a target="_blank" href="<%= twitter %>" class="social fa fa-twitter"></a>
	  <a target="_blank" href="<%= gplus %>" class="social fa fa-google-plus"></a>
	</span>
	
	<img class="img-responsive" src="<%= image %>" width="200" height="200" alt="" />
	
	<div class="member-name">
	  <h3><%= name %><small><%= profile %></small></h3>
	</div>
	
      </div>
      
      <% end %>
      
    </div>
    
    <article>
      <div class="row text-left">
	<% for hgh_id in data.about.highlights.keys %>
	<%
           name = data.about.highlights[hgh_id].name
           text = data.about.highlights[hgh_id].text
        %>
	<div class="col-md-4">
	  <h3><%= name %></h3>
	  <p><%= text %></p>
	</div>
	<% end %>
      </div>
    </article>
    
  </div>

</section>
