
<section id="contact">

  <div class="container">

    <header class="text-center">
      <h1><%= data.contact.title %></h1>
    </header>
    <div class="divider"></div>
    <p class="text-center">
      <a href="<%= data.contact.facebook %>" class="social fa fa-facebook"></a>
      <a href="<%= data.contact.twitter %>" class="social fa fa-twitter"></a>
      <a href="<%= data.contact.gplus %>" class="social fa fa-google-plus"></a>
    </p>
    
    <article>
      <p class="text-center big-paragraph">
	<div class="col-md-6 text-left">
	  <%= data.contact.address %>
	</div>
	<div class="col-md-6 text-right">
	  <%= data.contact.phone %>
	  <br>
	  <%= data.contact.email %>
	</div>
      </p>
    </article>

  </div>

  <br><br>

  <div id="gmap"></div>

</section>
