
<section id="contact">

  <div class="container">

    <header class="text-center">
      <h1><%= data.contact.title %></h1>
    </header>
    <div class="divider"></div>
    <p class="text-center">
      <% if(data.contact.facebook != "nil")  %>
      <a href="<%= data.contact.facebook %>" class="social fa fa-facebook"></a>
      <% end %>
      <% if(data.contact.twitter != "nil")  %>
      <a href="<%= data.contact.twitter %>" class="social fa fa-twitter"></a>
      <% end %>
      <% if(data.contact.gplus != "nil")  %>
      <a href="<%= data.contact.gplus %>" class="social fa fa-google-plus"></a>
      <% end %>
    </p>
    
    <article>
      <p class="text-center big-paragraph">
	<div class="col-md-6 text-left">
	  <%= data.contact.address %>
	</div>
	<div class="col-md-6 text-right">
	  <%= data.contact.phone %>
	  <br>
	  <%= data.contact.email %>
	</div>
      </p>
    </article>

  </div>

  <br><br>


  <% if(data.contact.gmap != "nil") %>
  <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= data.contact.gmap %>"></iframe>
  <% end %>

</section>
