
<section id="services">
  
  <header class="text-center">
    <h1><i class="<%= data.service.icon %>"></i>&nbsp;<%= data.service.title %></h1>
  </header>
  
  <div class="divider"></div>

  <div class="inner-cover" style="background-image:url('<%= data.service.background %>')">
  
    <span class="overlay gray"></span>

    <div class="container text-center">
      
      <ul class="services">

	<% for service_id in data.service.services.keys %>
	<%
	   icon = data.service.services[service_id].icon
	   title = data.service.services[service_id].title
	   color = data.service.services[service_id].color
        %>
	<li class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	  <a class="service <%= color %> popup-project" href="#service_<%= service_id %>">
	    <i class="<%= icon %>"></i>
	    <h3><%= title %></h3>
	  </a>
	</li>
	<% end %>

      </ul>

      <div class="services-nav">
	<a id="service-prev" href="#"><i class="fa fa-chevron-left"></i></a>
	<a id="service-next" href="#"><i class="fa fa-chevron-right"></i></a>
      </div>


    </div>
    
  </div>

  <% for service_id in data.service.services.keys %>
  <%
     icon = data.service.services[service_id].icon
     title = data.service.services[service_id].title
     image = data.service.services[service_id].image
     image_b = data.service.services[service_id].image_sec
     detail_text = data.service.services[service_id].details
     detail_text_b = data.service.services[service_id].details_sec
  %>

  <div class="mfp-hide white-popup" id="service_<%= service_id %>" >
    
    <div class="white-popup-title">
      <header class="text-center">
	<h1><i class="<%= icon %>">&nbsp;</i><%= title %></h1>
      </header>
    </div>
    
    <div class="white-popup-content container">
      <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
	  <img src="<%= image %>" class="img-responsive" alt="img" />
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
	  <article><%= detail_text %></article>
	</div>
      </div>
      <% if(detail_text_b != "nil") %>
      <br>
      <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
	  <%= detail_text_b %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
	  <img src="<%= image_b %>" class="img-responsive" alt="img" />
	</div>
      </div>
      <% end %>
    </div>
  </div>
  
  <% end %>

  </div>
  
</section>
