
<%
   linkedin = data.company.contact.linkedin
   twitter = data.company.contact.twitter
   facebook = data.company.contact.facebook
   gplus = data.company.contact.gplus
   email = data.company.contact.email
%>

<ul class="list-unstyled list-inline list-social-icons">

  <% if(linkedin != 'nil') %>
  <li class="tooltip-social linkedin-link">
    <a target="_blank" href="<%= linkedin %>" data-toggle="tooltip" data-placement="top" title="LinkedIn">
      <i class="fa fa-linkedin-square fa-2x"></i>
    </a>
  </li>
  <% end %>

  <% if(twitter != 'nil') %>
  <li class="tooltip-social linkedin-link">
    <a target="_blank" href="<%= twitter %>" data-toggle="tooltip" data-placement="top" title="Twitter">
      <i class="fa fa-twitter-square fa-2x"></i>
    </a>
  </li>
  <% end %>

  <% if(facebook != 'nil') %>
  <li class="tooltip-social linkedin-link">
    <a target="_blank" href="<%= facebook %>" data-toggle="tooltip" data-placement="top" title="Facebook">
      <i class="fa fa-facebook-square fa-2x"></i>
    </a>
  </li>
  <% end %>

  <% if(gplus != 'nil') %>
  <li class="tooltip-social linkedin-link">
    <a target="_blank" href="<%= gplus %>" data-toggle="tooltip" data-placement="top" title="Google +">
      <i class="fa fa-google-plus-square fa-2x"></i>
    </a>
  </li>
  <% end %>

  <% if(email != 'nil') %>
  <li class="tooltip-social linkedin-link">
    <a href="mailto:<%= email %>" data-toggle="tooltip" data-placement="top" title="Email">
      <i class="fa fa-envelope-square fa-2x"></i>
    </a>
  </li>
  <% end %>

</ul>
