
<% if(data.company.team.tagline != "nil") %>
<div class="row"><div class="col-md-12"><%= data.company.team.tagline %></div></div>
<% end %>

<br>

<div class="row">

  <% for member_id in data.company.team.members.keys %>
  <%
     name = data.company.team.members[member_id].name
     profile = data.company.team.members[member_id].profile
     image =  data.company.team.members[member_id].image
     text =  data.company.team.members[member_id].text
     linkedin = data.company.team.members[member_id].linkedin
     twitter = data.company.team.members[member_id].twitter
     gplus = data.company.team.members[member_id].gplus
     facebook = data.company.team.members[member_id].facebook
  %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
	<img class="img-responsive" src="<%= image %>">
	<p><%= partial "partials/social_individual", :locals =>{:linkedin=>linkedin,:twitter=>twitter,:facebook=>facebook,:gplus=>gplus} %></p>
      </div>
      <div class="col-md-8">
	<div class="row">
	  <div class="col-md-12"><b><%= name %></b>
	    <small>
	      &nbsp;<i><%= profile %></i>
	    </small>
	  </div>
	  <div class="col-md-12">
	    <%= text %>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <% end %>
 
</div>
