
<section id="work" class="alternate arrow-down">

  <div class="container">

    <header class="text-center">
      <h1><i class="<%= data.work.icon %>"></i>&nbsp;<%= data.work.title %></h1>
    </header>
    
    <div class="divider"><!-- lines divider --></div>
    
    <article><%= data.work.text %></article>
    
    <div id="portfolio" class="text-center">
      
      <div class="row">
	
	<ul class="sort-destination isotope" data-sort-id="isotope-list">
	  
	  <% for solution_id in data.work.solutions.keys %>
	  <%
             image = data.work.solutions[solution_id].image
             title = data.work.solutions[solution_id].title
             icon = data.work.solutions[solution_id].icon
             subtitle = data.work.solutions[solution_id].subtitle
          %>

	  <li class="isotope-item col-xs-6 col-sm-6 col-md-6 col-lg-3 image">
	    <a class="popup-project" href="#work_<%= solution_id %>">
	      <img src="<%= image %>" class="img-responsive" alt="img" />
	      <div class="caption">
		<i class="rounded <%= icon %>"></i>
		<h3><%= title %></h3>
		<% if(subtitle != "nil") %>
		<p><%= subtitle %></p>
		<% end %>
	      </div>
	    </a>
	  </li>
	  
	  <% end %>

	</ul>
      
      </div>
      
    </div>
    
  </div>


  <% for solution_id in data.work.solutions.keys %>
  <%
     title = data.work.solutions[solution_id].title
     image = data.work.solutions[solution_id].image
     image_b = data.work.solutions[solution_id].image_sec
     detail_text = data.work.solutions[solution_id].details
     detail_text_b = data.work.solutions[solution_id].details_sec
  %>

  <div class="mfp-hide white-popup" id="work_<%= solution_id %>" >
    
    <div class="white-popup-title">
      <header class="text-center">
	<h1><%= title %></h1>
      </header>
    </div>
    
    <div class="white-popup-content container">
      <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
	  <img src="<%= image %>" class="img-responsive" alt="img" />
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
	  <article><%= detail_text %></article>
	</div>
      </div>
      <% if(detail_text_b != "nil") %>
      <br>
      <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
	  <%= detail_text_b %>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
	  <img src="<%= image_b %>" class="img-responsive" alt="img" />
	</div>
      </div>
      <% end %>
    </div>
    
  </div>
  

  <% end %>

</section>
