
<div class="container">

  <%= partial "partials/breadcrumbs", :locals => { :title => data.service.title, :tagline => data.service.tagline }  %>

  <% if(data.service.tagline != "nil") %>
  <div class="row"><div class="col-md-12"><%= data.service.tagline %></div></div>
  <% end %>

  <br>
  
  <div class="row">
    <% for service_id in data.service.services.keys %>
    <%
       name = data.service.services[service_id].name
       image = data.service.services[service_id].image
       summary = data.service.services[service_id].summary
       link_tag = data.service.services[service_id].link_tag
       url_name = data.service.services[service_id].url_name
    %>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <span class="fa-stack fa-5x">
          </span>
        </div>
        <div class="panel-body">
          <h4><%= name %></h4>
          <p><%= summary %></p>
          <a href="/services/<%= url_name %>-<%= service_id %>" class="btn btn-primary"><%= link_tag %></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
